/* Body */
.card-body {
  border-radius: 5px;
  background-color: #aca3a7;
  color: black
}

.custom-container {
  max-width: 95%;
}
body {
  background-color:#7a7173;;
  color: #ffffff;
}

.my-table th, .my-table td {
  padding-right: 25px;
}


.margin-right { 
  margin-right:60px; 
}

.centered-text {
text-align: center;
}

.ml-2 {
margin-left: 8rem;
color: red;
}

.custom-link {
  color: #2e2c2a
}

.custom-link:hover {
  color: #fbc531
}

.btn-add {
  margin-top: 22px;
}

.btn-see {
  margin-top: 10px;
}

.btn-fav{
  margin-left: 20px;
}

.btn-itm{
  margin-bottom: 5px;
  margin-top: 2px;
}

.btn-bid{
  margin-top: 5px;
}

.btn-qst{
  margin-left: 20px;
}

.btn-resp{
  margin-bottom: 10px;
}

.btn-edit{
  margin-top: 10px;
}

.expired-message{
  color: red
}

.qst-usr{
  color: yellow
}

.qst-adm{
  color: orangered
}

.qst-blk{
  color: black
}

.hide-ask{
  color: rgb(106, 2, 2)
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}

.alert{
  color: yellow
}

.notice{
  color: orange
}

