/* General Body Styles */
body {
  background-color: #7a7173;
  color: #ffffff;
}

/* Container Styles */
.custom-container {
  max-width: 95%;
}

/* Table Styles */
.my-table th, .my-table td {
  padding-right: 25px;
}

/* Card Styles */
.card-body {
  border-radius: 5px;
  background-color: #aca3a7;
  color: black;
}

/* Button Styles */
.btn-add {
  margin-top: 22px;
}

.btn-see, .btn-edit {
  margin-top: 10px;
}

.btn-fav, .btn-qst {
  margin-left: 20px;
}

.btn-itm {
  margin-bottom: 5px;
  margin-top: 2px;
}

.btn-bid {
  margin-top: 5px;
}

.btn-resp {
  margin-bottom: 10px;
}

.btn-bus {
  margin-top: 10px;
}

.btn-cat {
  padding: 2px;
  margin-bottom: 5px;
}

/* Link Styles */
.custom-link {
  color: #2e2c2a;
}

.custom-link:hover {
  color: #fbc531;
}

/* Text and Font Styles */
.centered-text {
  text-align: center;
}

.ml-2 {
  margin-left: 8rem;
  color: red;
}

.expired-message {
  color: red;
}

.qst-usr {
  color: yellow;
}

.qst-adm {
  color: orangered;
}

.qst-blk {
  color: black;
}

.hide-ask {
  color: rgb(106, 2, 2);
}

.alert {
  color: yellow;
}

.notice {
  color: orange;
}

/* Layout and Spacing Styles */
.margin-right {
  margin-right: 60px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}
